* {
  margin: 0px;
  padding: 0px;
  border: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  transition: background-color .5s;
  height: 736px;
  /* cursor:url("{% static 'bycicle.png' %}"),auto ;  */
}

a {
  color: #f7f5f5;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 20px 20px 20px 35px;
  text-decoration: none;
  font-size: 20px;
  color: #f9f4f4;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #8a8080;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  position: relative;
  right: 130px;
  display: flex;
  align-items: center;
}

.icon{
  margin-left: 80px;
}

#main a{
  text-decoration: none;
  list-style: none;
  color: white;
}

@media screen and (max-height: 450px) {
  XF .sidenav {
      padding-top: 15px;
  }

  .sidenav a {
      font-size: 18px;
  }
}

.nav {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  /* position: fixed; */
  top: 0;
}

/* .carousel-inner {
  width: 50%;
} */
/* 
.carousel-item {
  width: 30%;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
      display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
} */

input {
  width: 400px;
  border-radius: 10px;
  border: 1px solid #f4eeee;
  padding: 6px;
}

video {
  width: 100%;
  height: 638px;
  object-fit: cover;
  z-index: -1 !important;
}

.pushablelog {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  width: 100px;
  cursor: pointer;
  outline-offset: 4px;
}

.pushablelog a{
  list-style: none;
  text-decoration: none;
}

.front {
  display: block;
  padding: 8px;
  border-radius: 12px;
  font-size: 14px;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushablelog:active .front {
  transform: translateY(-2px);
}

.logo {
  font-size: 38px;
  cursor: "pointer";
  background-color: #000000;
}

/* brand logos */
.brands{
  background-color: #a1a1a1;
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.box1,.box2,.box3{
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: crimson;
}

.card-main {
  margin: 0 auto;
  text-align: center;
  padding-top: 4em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  padding: 4em 1em;
  position: relative;
  align-items: center;
  width: 24em;
  height: 27em;
  margin: auto;
  margin-top: 3em;
  border-radius: 0.5em;
  box-shadow: -1px -1px 42px rgba(0, 0, 0, 0.75);
}

.card-item button a{
  list-style: none;
  text-decoration: none;
  color: white;
}

.electric-head {
  height: 300px;
  background-color: rgb(176, 228, 176);
  margin-top: 100px;
  text-align: center;
}
button{
  color: white;
  background-color:  hsl(345deg 100% 47%);
  border: 1px transparent;
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: black;  
}

/* login */
h1 {
  font-family: 'Montserrat', sans-serif;
}

.loginbox {
  margin: auto;
  width: 400px;
  background: hsla(0, 0%, 97%, 0.194);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  align-items: center;
  text-align: center;

}
a:hover{
  color: rgb(251, 255, 0);
}

form input {
  width: 280px;
  border-radius: 0px;
}

form .pushablelog {
  background: hsl(0, 0%, 6%);
  margin: auto;
  color: white;
  border-radius: 12px;
  border: none;
  width: 150px;
  cursor: pointer;
  outline-offset: 4px;
  display: block;
  padding: 10px;
  font-size: 14px;
  transform: translateY(-6px);
}

form .pushablelog:active {
  transform: translateY(-2px);
}
.tag h1{
  font-size: 200px;
  color: white;
}
.tag h4{
  font-size: 60px;
  color: white;
}

/* reviews */
.reviews{
  height: 550px;
  background-color: darkkhaki;
  margin-top: 50px;
}

/* location */
.location{
  height: 550px;
  background-color: wheat;
  margin-top: 50px;
}

/* footer */
.footer{
  height: 350px;
  /* background-color: grey; */
  margin-top: 50px;
}

body {
    background: #fbfbfd;
}

.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}